---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "spaceship-webhook.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels: {{ include "spaceship-webhook.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: https
      protocol: TCP
      name: https
  selector:
    app: {{ include "spaceship-webhook.name" . }}
    release: {{ .Release.Name }}
