name: Helm (Build and Publish)

on:
  push:
    tags: [ 'v*' ]
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.0

      - name: Query actor name
        id: query-actor-name
        uses: actions/github-script@v6
        with:
          script: |
            const actor = context.actor;
            const { data: user } = await github.rest.users.getByUsername({ username: actor });

            core.setOutput('name', user.name || actor);

      - name: Set Git credentials
        run: |
          git config --global user.name "${{ steps.query-actor-name.outputs.name }}"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Release chart
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_GENERATE_RELEASE_NOTES: true
